RewriteEngine on 
RewriteCond $1 !^(index\.php|rs|robots\.txt) 
RewriteRule ^(.*)$ /word-expand/index.php/$1 [L]

#AuthType Basic
#AuthName "WORKING CENTER"
#AuthUserFile /etc/httpd/conf/puma_passwd
#require valid-user
